html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


@font-face {
  font-family: 'Open-Sans';
  src: url("assets/fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'Open-Sans';
  src: url("assets/fonts/OpenSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold; }

@font-face {
  font-family: 'Open-Sans';
  src: url("assets/fonts/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("assets/fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
  font-weight: lighter;
}

  /*-------*/


a, a:active, a:focus {
outline: none;
}


.ajax-loader{
  display: none;

}

body {
	background-color: black;
	text-align: left;
	font-family: 'Open-Sans',sans-serif;
  font-style: normal;
	font-weight: lighter;
	margin: 0 auto;
	font-size: 12px;
	color: #2e2e2e;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%
}

button:focus {
	outline: none;
  color: #fff;
  padding: .5rem .3rem
}

button:hover {
    background-color: #b41c15
}

footer{
  color: white;
  padding-left: 8rem;
  font-size: 1rem;
}

form{
  border-bottom: .6px solid white;
  padding-bottom: .4rem;
}

.btn-big {
  height: 60px;
  width: auto;
  color: white;
	outline: none;
}

header{
  display: flex;
  height: 60vh;
  justify-content: flex-start;
  padding-left: 3rem;
}

.instagrid-icon img{
  width: 320px;
  height: 90vh;
  align-items: center;
  position: relative;
}

.search-box {
  padding-top: 26rem;
  padding-left: 1rem;

}

input, textarea {
	background-color: rgba(0,0,0,0.1);
	color: white;
	font-size: 1.6rem;
	position: relative;
  border: none;
  width: 80%;
  padding-top: 1.2rem;

}

#hashtag-search{
	color: white;
  text-align: center;
  display: inline;
}

.glyphicon.glyphicon-globe {
    font-size: 75px;
}

.hash-symbol{
	font-size: 1.5rem;
	font-weight: bold;
  padding-right: .5rem;
	padding-left: .5rem
}

section.search{
  align-items: center;
}


.grid{
  display: flex;
  justify-content: space-around; /*drawing in the middle*/
  flex-wrap: wrap;
  flex-direction: column;

}

.profile-wrapper{ 
  position: relative;
}
/*wraps the profile image*/
.profile-picture {
  width: 40%;
}

.profile-picture img{
  border-radius: 50%;
  max-width: 80px;
  margin-left: .6rem; 
  margin-top: .7rem;
}

.profile-data{
  display: flex;  
  font-weight: bold;
  top: 0;
  width: 33%;
  padding-right: 2rem;
  align-items: flex-end;
  flex: 1 0 auto;
  justify-content: flex-end;
  flex-direction: column;
}

.transparent{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .7;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}

p {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

textarea:focus, input:focus{
    outline: none;

}


  